*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     line-height: 1.6;
    background: #222 url(images/background.jpg) no-repeat center center;
    background-size: cover;
}
.container{
   background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
   box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;
}
.container h2{
    color: #2cdcff;
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.input-box{
    margin-bottom: 20px;
    position: relative;
}
.input-box input{
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
}
.input-box textarea{
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    resize: none;
    height: 100px;
}
input::placeholder,
textarea::placeholder {
  color: #aaa;       
  font-size: 14px;   
  font-style: italic; 
  opacity: 1;        
}
.input-box input:focus,
.input-box textarea:focus {
  border: 2px solid #00d4ff;  
  box-shadow: 0 0 8px rgba(0, 212, 255, 0.6); 
  background: rgba(255,255,255,0.25); 
}

button {
    width: 100%;
  background: linear-gradient(90deg, #00d4ff, #0072ff);
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.7s ease;
}
button:hover {
    opacity: 0.95; 
    transform: scale(1.08);
    box-shadow: 
        0 0 20px rgba(0, 212, 255, 0.8),
        0 0 40px rgba(0, 114, 255, 0.7); 
}



@media (min-width: 1200px) {
  .container {
    width: 400px; 
  }
}


@media (max-width: 1199px) and (min-width: 768px) {
  .container {
    width: 400px; 
  }
}


@media (max-width: 767px) {
  .container {
    width: 400px;    
    max-width: 95%;  
}
}


@media (max-width: 480px) {
  .container {
    width: 95%;  
  }
}



